certifi==2022.12.7
chardet==3.0.4
contourpy==1.0.7
cycler==0.11.0
dnspython==2.2.1
fonttools==4.38.0
future==0.18.2
gcloud==0.17.0
googleapis-common-protos==1.58.0
httplib2==0.21.0
idna==2.10
importlib-resources==5.12.0
imutils==0.5.4
jws==0.1.3
kiwisolver==1.4.4
lxml==4.9.1
matplotlib==3.7.0
numpy==1.23.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauth2client==3.0.0
opencv-python==4.6.0.66
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
protobuf==4.22.0
psutil==5.9.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.23.0
pycryptodome==3.4.3
PyGObject==3.42.2
pymavlink==2.4.37
pymongo==4.3.2
pyparsing==3.0.9
Pyrebase==3.0.27
python-dateutil==2.8.2
python-dotenv==0.21.0
python-jwt==2.0.1
pytz==2022.7.1
PyYAML==6.0
requests==2.23.0
requests-toolbelt==0.7.0
rsa==4.9
seaborn==0.12.2
seekcamera-python==1.1.1
shapely==2.0.1
six==1.16.0
torch==1.13.1
torchvision==0.14.1
tqdm==4.64.1
typing-extensions==4.5.0
urllib3==1.25.11
zipp==3.15.0
